pipeline/DeltaLoadPipeline.json
{
	"name": "DeltaLoadPipeline",
	"properties": {
		"activities": [
			{
				"name": "LastSyncDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select  LastSyncDate from dbo.tblLastSyncDate",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LastSyncDate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "PendingSyncDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(ModifiedDate) as ModifiedDate from dbo.Studentdata",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LastSyncDate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CopyDatetoStorage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LastSyncDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "PendingSyncDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.Studentdata\nwhere ModifiedDate between '@{activity('LastSyncDate').output.firstRow.LastSyncDate}' and '@{activity('PendingSyncDate').output.firstRow.ModifiedDate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "LastSyncDate",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DeltaLoadStorageAccount",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "UpdateLastSyncDate",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyDatetoStorage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Proc_UpdatetblLastSyncDate]",
					"storedProcedureParameters": {
						"@NewLastSyncDate": {
							"value": {
								"value": "@activity('PendingSyncDate').output.firstRow.ModifiedDate",
								"type": "Expression"
							},
							"type": "Datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sqlserversagarSagarDB_LS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CopyDatefromStoragetoSQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "UpdateLastSyncDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"id"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DeltaLoadStorageAccount",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ClientDB",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}